<div ng-controller="OneCtrl">
    ONEE!!! Load AngularJS
    <br /><br />
    <button ng-click="msg();">Send message</button>
    <br /><br />
    <a href="#four">Call page four</a><br /><br />
    <%- include two.ejs %>
    <div ng-include="page/three">

    </div>
</div>
