<div ng-controller="OneCtrl">
    ONEE!!! Load AngularJS
    <br />
    <button ng-click="msg();">Enviar Mensagem</button>

    <%- include two.ejs %>
    <div ng-include="page/three">

    </div>
</div>
